body {
    background-color: black;
    font-family: Verdana;
    text-align: center;
}

h1 {
    font-weight: normal;
    font-size: 50px;
    color: white;
}

a {
    color: aquamarine;
    font-size: 16px;
}

h2 {
    color: white;
    font-weight: 300;
    font-size: 42px;
}

h3 {
    color: grey;
    font-size: 21px;
    font-weight: 200; 
}

.bottom {
    text-align: right;
}